// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.businesses-header-container {
    display: flex;
    justify-content: space-between;
}


.businesses-header-container > .logo-link {
    display: flex;
    margin-left: 0;
    margin-right: auto;
}

.businesses-header-container > .logo-link > img {
    height: 40px;
    margin-left: 5%;
}

.businesses-user-header {
    margin-right: 5%;
}

.businesses-user-header > .login-signup {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

.businesses-user-header > .header-group {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}
