// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
$primary-gray: rgb(241, 241, 241);

.businesses-container {
    font-family: 'Open Sans', sans-serif;
    
    .businesses-header-container {
        display: flex;
        height: 140px;
        background-color: $primary-gray;
        justify-content: center;

        .business-header {
            display: flex;
            .logo-link {
                display: flex;
                margin-right: 30px;
                // margin-left: 30px;
                margin-top: 40px;
                img {
                    height: 50px;
                }
            }
            .navbar-links {
                margin-left: 80px;
                display: flex;
                .about-icon {
                    
                    margin-left: 5px;
                    margin-right: 5px;
                    margin-top: 55px;
                }
                .about-icon:hover {
                    background-color: rgb(190, 190, 190);
                    border-radius: 10px;
                }
            }
            .businesses-user-header {
                display: flex;
            }
            
        }
        
    }
    .list-of-bizs {
        display: grid;
        margin-top: 20px;
        margin-left: 20px;
        a {
            color: gray;
            margin-top: 5px;
        }
    }

}



