// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
$primary-gray: rgb(241, 241, 241);

.businesses-container {
    font-family: 'Open Sans', sans-serif;
    
    .businesses-header-container {
        display: flex;
        justify-content: space-between;
        height: 120px;
        background-color: $primary-gray;
        .logo-link {
            display: flex;
            margin-left: 5%;
            margin-right: auto;
            margin-top: 40px;
            img {
                height: 50px;
            }
        }
        .businesses-user-header {
            margin-right: 5%;
        }
        .navbar-links {
            .about-icon {
                margin-left: 5px;
                margin-right: 5px;
                margin-top: 40px;
            }
            .about-icon:hover {
                background-color: rgb(190, 190, 190);
                border-radius: 10px;
            }
        }
    }
    .list-of-bizs {
        display: grid;
        margin-top: 20px;
        margin-left: 20px;
        a {
            color: gray;
            margin-top: 5px;
        }
    }

}



