
.business-pics-container {
    height: 100%;
    position: relative;
    width: 100%;
    display: inline-flex;
    // background-image: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 65%);
}

.biz-pic {
    float: left;
    height: 400px;
    width: 25%;
    object-fit: cover; //scale-down; //scale-down
    // overflow: hidden;

}

.indiv-business-container {
    font-family: 'Open Sans', sans-serif;
}

.indiv-business-container > .go-back-to-biz {
    display: flex;    
    margin-top: 40px;
    justify-content: center;
}

.indiv-business-container > .go-back-to-biz > img {
    height: 60px;
}