@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
$open-sans: 'Open Sans Condensed', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
$montserrat: 'Montserrat', sans-serif;

$primary-gray: rgb(241, 241, 241);
$lightdark-gray: rgb(167, 167, 167);

.businesses-container {
    .indiv-business-container {
        
        .business-pics-container {
            height: 100%;
            position: relative;
            width: 100%;
            display: inline-flex;

            .biz-pic-container {
                width: 25%;
                .biz-pic {
                    float: left;
                    height: 400px;
                    width: 100%;
                    object-fit: cover; //scale-down; //scale-down
                }
            }
            
            .biz-pic-container::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 30.42%, #00000070);
            }
        }

        .biz-name-container {
            
            .biz-name {
                font-family: $montserrat;
                position: absolute;
                font-weight: 900;
                top: 350px;
                color: white;
                left: 80px;
                font-size: 48px;
            }
        }

        .biz-categories-container {
            color: white;
            font-size: 16px;
            position: absolute;
            left: 80px;
            top: 450px;
            display: flex;
            .biz-category {
                margin-right: 5px;
            }
        }

        .biz-reviews-container {
            position: absolute;
            left: 80px;
            top: 410px;
            background: transparent;
            display: flex;
            .biz-stars {
                img {
                    height: 32px;
                    border-radius: 4px;
                }
            }
            .num-reviews {
                font-size: 16px;
                color: white;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    margin-left: 5px;
                }
            }
        }

        .biz-hours {
            font-size: 16px;
            position: absolute;
            left: 80px;
            top: 480px;
            display: flex;
            h3 {
                color: green;
                margin-right: 10px;
            }
            p {
                color: white;
            }
        }

        .logo-link {
            display: flex;    
            margin-top: 40px;
            justify-content: center;
            img {
                height: 60px;
            }
        }
        .business-info {
            display: flex;
            flex-direction: column;
            border: 1px solid $lightdark-gray;
            width: 300px;
            border-radius: 4px;
            position: sticky;
            top: 600px;
            right: 100px;
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
            }
        }

        .biz-page-container {
            display: flex;
            // justify-content: center;
            margin-left: 80px;
            flex-direction: column;
            margin-top: 10px;
            width: 700px;
            .biz-line {
                border-top: 1px solid $lightdark-gray;
            }
            .business-map {
                margin-top: 10px;
                h3 {
                    font-size: 20px;
                }
                img {
                    margin-top: 10px;
                }
            }
            
        }
        
        
        .create-review-button {
            margin-top: 20px;
            margin-left: 80px;
            .review-button {
                color: white;
                font-weight: bold;
                background-color: red;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 20px 5px;
                border-radius: 4px;
                text-decoration: none;
                outline: none;
                width: 200px;
                height: 40px;
                cursor: pointer;
                font-size: 16px;
                .star-pic {
                    // height: 32px;
                    margin-right: 10px;
                    svg {
                        height: 1.5em;
                        width: 1.5em;
                    }
                }
            } 
        }
    }
}


