
.header-link {
    display: flex;
    justify-content: center;
    font-size: large;
}

// .login-signup {
//     display: flex;
//     justify-content: flex-end;
// }

.logo-link {
    display: flex;
    justify-content: center;
    background-color: red;
    height: 60px;
    width: 100%;
}

.home-logo-wrapper {
    // width: 100px;
}
.home-logo {
    width: 150px;
}

.hero-container {
    // background-position: 50% 50%;
    background-size: cover;
    height: 570px;
    padding-top: 30px;
    width: 100%;
    background-image: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/fa8d73b85ad8/assets/img/home/hero_photos/J4bBEXXBIHmYLl50X1l72g.jpg);
}

.hero-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-bar {
    height: 30px;
    // background-color: green;
}

.hero-inner {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav {
    display: flex;
    // justify-content: space-between;
    // height: 30px;
    color: white;
}

.login-signup {
    display: flex;
    justify-content: flex-end;
   
}

.login-button {
    color: white;
    display: block;
    padding: 9px 12px 10px;
    font-size: 14px;
    line-height: 1.28em;
    font-weight: 700;
    background: none;
}


