

#root {
    min-width: 1000px;

}



.home-logo {
    width: 150px;
}

.hero-container {
    background-position: center;
    background-size: cover;
    height: 600px;
    padding-top: 30px;
    width: 100%;
    background-image: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/fa8d73b85ad8/assets/img/home/hero_photos/J4bBEXXBIHmYLl50X1l72g.jpg);
}

.hero-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-bar {
    display: flex;
}

.hero-inner {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav {

    display: flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.greetings {
    margin-right: 0;
    margin-left: auto;
    padding-top: 0;
}

.greetings > .login-signup {
    display: flex;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: grey;

    // align left or right -> have parent dom obj set to display:flex 
    //align to left -> margin left:0, margin right: auto, right is vice versa 
}

.greetings > .login-signup > .login-greeting {
    color: white;
    padding: 10px 10px;
    border-color: transparent;
    outline: none;
    margin-right: 10px;
    background: transparent;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
   
}
.greetings > .login-signup > .signup-greeting {
    color: white;
    // display: block;
    padding: 7px 24px 8px;
    background: transparent;
    border: white solid 2px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    
}

.header-group {
    display: flex;
    margin-right: 0;
    margin-left: auto;
}





