@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.nav-logout-container {
    display: flex;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: grey;
    cursor: pointer;

    .login-greeting {
        color: white;
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;
        text-decoration: none;
        border-color: transparent;
        background: transparent;
        outline: none;
        font-size: 14px;

        // padding: 10px 10px;
        margin-right: 7px;
        margin-left: 7px;
        padding: 9px 12px 8px;
    }

    .login-greeting:hover {
        border-bottom: 2px solid white;

    }

    .signup-greeting {
        color: white;
        // display: block;
        font-size: 14px;
        padding: 7px 24px 8px;
        background: transparent;
        border: white solid 2px;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
    }

    .signup-greeting:hover {
        background-color: white;
        color: gray;
    }

}

.user-session-container {
    .dropbtn {
        img {
            height: 30px;
        }
    }
}

.user-session-content {
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    padding: 12px 16px;
    z-index: 1;
    // margin-right: 150px;
    // right: 5px;
    border: 1px solid #bbbac0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    img {
        height: 30px;
    }
}