@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
$open-sans: 'Open Sans', sans-serif;
$primary-gray: rgb(241, 241, 241);



.categories-page-container {
    background-color: $primary-gray;
    font-family: $open-sans;
    height: 350px;

    .biz-card-title {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        color: red;
        font-size: 21px;
    }

    .card-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .categories-card-container {
            margin-left: 20px;
            margin-right: 20px;
            
            .categories-card {
                border: none;
                background-color: white;
                border-radius: 4px;
                font-family: 'Open Sans', sans-serif;
                width: 200px;
                height: 200px;
                .card-content {
                    
                    p {
                        justify-content: center;
                        display: flex;
                    }
                }
            }
            .categories-card:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                cursor: pointer;
            }
        
        }
    }
    
}
