@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

#root {
    min-width: 1200px;
}

.home-logo {
    width: 150px;
}

.hero-container {
    background-position: center;
    background-size: cover;
    height: 600px;
    padding-top: 50px;
    width: 100%;
    background-image: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/fa8d73b85ad8/assets/img/home/hero_photos/J4bBEXXBIHmYLl50X1l72g.jpg);
    font-family: 'Open Sans', sans-serif;
    // center logo
    .hero-content {
        max-width: 960px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .nav-bar {
        display: flex;
        font-weight: 800;
        // top left 'write a review' boxes
        .header-nav {
            display: flex;
            color: white;

            .about-me-links {
                display: flex;
                padding: 5px;
                margin-right: 10px;
                font-size: 14px;
                border-color: transparent;
                background: transparent;
                outline: none;
                padding: 9px 12px 8px;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
            .about-me-links:hover {
                border-bottom: 2px solid white;
            }
        }
        //login or logout buttons
        .greetings {
            margin-right: 0;
            margin-left: auto;
        }
    }
    .hero-inner {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}










