@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

#root {
    min-width: 1200px;
}

.home-logo {
    width: 150px;
}

.hero-container {
    background-position: center;
    background-size: cover;
    height: 600px;
    padding-top: 30px;
    width: 100%;
    background-image: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/fa8d73b85ad8/assets/img/home/hero_photos/J4bBEXXBIHmYLl50X1l72g.jpg);
}

// center logo
.hero-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-bar {
    display: flex;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    // font: bold;
}

.hero-inner {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// top left 'write a review' boxes
.header-nav {

    display: flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    // font: bold;
}

//login or logout buttons
.greetings {
    margin-right: 0;
    margin-left: auto;
    padding-top: 0;
    font-family: 'Open Sans', sans-serif;
    
}

// .greetings > .login-signup {
//     display: flex;
//     justify-content: flex-end;
//     font-family: 'Open Sans', sans-serif;
//     font-size: 14px;
//     color: grey;
//     cursor: pointer;

//     // align left or right -> have parent dom obj set to display:flex 
//     //align to left -> margin left:0, margin right: auto, right is vice versa 
// }

// .greetings > .header-group {
//     display: flex;
//     justify-content: flex-end;
//     cursor: pointer;
    
// }

// .greetings > .header-group > .header-name {
//     font-family: 'Open Sans', sans-serif;
//     font-size: 16px;
//     color: white;
//     margin-top: 5px;
    
// }

// .greetings > .header-group > .header-button {
//     margin-left: 5px;

//     color: gray;
//     font-weight: bold;
//     background-color: white;
//     font-size: 16px;
//     border: 1px solid gray;
//     padding: 7px 24px 8px;
//     border-radius: 4px;
//     text-decoration: none;
//     height: 30px;
//     cursor: pointer;
// }

// .greetings > .login-signup > .login-greeting {
//     color: white;
//     padding: 10px 10px;
//     border-color: transparent;
//     outline: none;
//     margin-right: 10px;
//     background: transparent;
//     font-size: 14px;
//     font-family: 'Open Sans', sans-serif;
//     text-decoration: none;
// }
// .greetings > .login-signup > .signup-greeting {
//     color: white;
//     // display: block;
//     padding: 7px 24px 8px;
//     background: transparent;
//     border: white solid 2px;
//     border-radius: 4px;
//     text-decoration: none;
//     cursor: pointer;
//     // font-size: 14px;
//     // font-family: 'Open Sans', sans-serif;
    
// }

// //when logged in button
// .header-group {
//     display: flex;
//     margin-right: 0;
//     margin-left: auto;
// }


// .home-business-link {
//     display: flex;    
//     margin-top: 40px;
//     justify-content: center;
// }

// .home-business-link > img {
//     height: 60px;
// }



