@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
$open-sans: 'Open Sans', sans-serif;

.other-proj-container {
    background-color: white;
    height: 300px;
}