@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
$open-sans: 'Open Sans', sans-serif;
$primary-gray: rgb(241, 241, 241);

.footer-container {
    background-color: $primary-gray;
}

