
.login-header {
    display: flex;
    align-items: center;
    background-color: blue;
    margin-top: 10%;
    flex-direction: column;
}

.login-message {
    color: red;
}

.login-form {
    display: flex;
    justify-content: center;
}

.signup-button {
    display: flex;
    justify-content: center;
}


.demo-button {
    display: flex;
    justify-content: center;
}