@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.search-form-container {
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    .search-form {
        background-color: white;
        height: 50px;
        width: 900px;
        border-radius: 4px 4px 4px 4px;
        margin-left: 5px;
        margin-right: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        .search-container1-home {
            font-size: 18px;
            color: gray;
            background-color: white;
            margin-left: 10px;
            // margin-right: 10px;
            
        }
        .search-container2-home {
            font-size: 18px;
            color: gray;
            background-color: white;
            margin-left: 10px;

        }
        .search-content1-home {
            height: 30px;
            background-color: white;
            width: 400px;
            border: none;
            outline: none;
            border-right: 1px solid gray;

            margin-left: 5px;
            margin-right: 5px;
            margin-top: 1px;
            font-size: 18px;
            
        }
        .search-content2-home {
            height: 30px;
            background-color: white;
            outline: none;
            width: 300px;
            border: none;
            border-radius: 4px 4px 4px 4px;
            margin-left: 5px;
            font-size: 18px;
            margin-top: 1px;
        }
        .search-button-home {
            background-color: red;
            cursor: pointer;
            transform: scaleX(-1);
            height: inherit;
            width: 73px;
            border: none;
            border-radius: 4px 0 0 4px;
            .search-icon {
                height: 50px;
            }
        }
    }
}
