// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
$open-sans: 'Open Sans', sans-serif;

.search-form-container {
    font-family: $open-sans;
    
    .search-form-home {
        margin-top: 50px;
        background-color: white;
        height: 50px;
        width: 900px;
        border-radius: 4px 4px 4px 4px;
        margin-left: 5px;
        margin-right: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        .search-container1 {
            font-size: 18px;
            color: gray;
            background-color: white;
            margin-left: 10px;
            height: 30px;
            display: flex;
            align-items: center;
            p {
                margin-bottom: 4px;
            }
        }
        .search-container2 {
            font-size: 18px;
            color: gray;
            background-color: white;
            margin-left: 10px;
            height: 30px;
            display: flex;
            align-items: center;
            p {
                margin-bottom: 4px;
            }
        }
        .search-content1 {
            height: 30px;
            background-color: white;
            width: 400px;
            border: none;
            outline: none;
            border-right: 1px solid gray;
            margin-left: 5px;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            
        }
        .search-content2 {
            height: 30px;
            background-color: white;
            outline: none;
            width: 300px;
            border: none;
            border-radius: 4px 4px 4px 4px;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin-left: 5px;
            margin-right: 10px;
        }
        .search-button {
            background-color: red;
            cursor: pointer;
            height: inherit;
            width: 73px;
            border: none;
            border-radius: 0 4px 4px 0;
            .search-icon {
                height: 40px;
                margin-top: 5px;
            }
        }
    
    }

    .search-form-other {
        background-color: white;
        height: 50px;
        width: 650px;
        border-radius: 4px 4px 4px 4px;
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-left: 20px;
        // margin-right: 350px;
        .search-container1 {
            font-size: 18px;
            color: gray;
            background-color: white;
            margin-left: 10px;
            
        }
        .search-container2 {
            font-size: 18px;
            color: gray;
            background-color: white;
            margin-left: 10px;

        }
        .search-content1 {
            height: 30px;
            background-color: white;
            width: 300px;
            border: none;
            outline: none;
            border-right: 1px solid gray;

            margin-left: 5px;
            margin-right: 5px;
            margin-top: 1px;
            font-size: 18px;
            
        }
        .search-content2 {
            height: 30px;
            background-color: white;
            outline: none;
            width: 200px;
            border: none;
            border-radius: 4px 4px 4px 4px;
            margin-left: 5px;
            font-size: 18px;
            margin-top: 1px;
            margin-right: 40px;
        }
        .search-button {
            background-color: red;
            cursor: pointer;
            height: inherit;
            width: 73px;
            border: none;
            border-radius: 0px 4px 4px 0;
            .search-icon {
                height: 40px;
                margin-top: 5px;
            }
        }

    }

}
