

// .signup-header {
//     color: red;
//     font-family: 'Open Sans', sans-serif;
//     font-size: 20px;
// }
.header-logo-link {
    display: flex;
    justify-content: center;
    background-color: red;
    height: 60px;
    width: 100%;
}

.logo-link {
    margin-right: 40px;
}

.logo-link > img {
    position: absolute;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.whole-signup-page {
    display: flex;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 10%;
    font-family: 'Open Sans', sans-serif;
}

.signup-form-field-container {
    display: flex;
    flex-direction: column;
}

.signup-form-fields {
    display: flex;
    flex-direction: column;
}

.signup-pic {
    margin-left: 5%;
    margin-right: auto;
    margin-top: 5%;
}

.signup-pic > img {
    margin-top: 70px;
}

.signup-form-container > .signup-header {
    color: red;
    font-size: 30px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}

.signup-form-container > .signup-header-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

.signup-input-fname {
    margin: 5px 0 8px 5px;
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
    width: 142px;
    padding: 0 0 0 9px;
}

.signup-input-lname {
    margin: 5px 0 7px 5px;
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
    width: 142px;
    padding: 0 0 0 9px;
}
.signup-input3 {
    margin: 5px 0 7px 5px;
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
    width: 300px;
    padding: 0 0 0 9px;
}

.signup-input {
    margin: 5px 0 7px 5px;
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
    width: 300px;
    padding: 0 0 0 9px;
}

.bday-text-container > .bday-text {
    display: inline-block;
    margin: 5px;
}

.bday-text-container > .bday-optional-text {
    display: inline-block;
    margin: 5px;
    font-size: 12px;
    color: gray;
}

.signup-submit {
    background-color: red;
    color: white;
    padding: 10px 13px;
    margin-top: 4px;
    border: 0px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 3px;
    width: 100%;
    outline: none;
    font-size: 20px;
    // max-width: 300px;
}

.signup-form-field-container > .signup-button {
    margin-left: auto;
    margin-top: 10px;
    font-size: 12px;
    color: gray;
}